.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  padding: 20px;
  color: white;
  margin-bottom: 30px;
  background-color: grey;
  height: 200px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.menu{
  border-style: solid;
  border-color: #CCCCCC;
  border-width: 1px;
}

.headLines{
  border-color: white;
  border-style: solid;
  border-width: 1px;
  width: 100%;
  margin-left: 0px;
  margin-right: 0px;
}

.topmenu{
  padding: 30px 20px 30px 20px;
  width: 100%;
  background-color: #cccccc;
}

.sidemenu{
  margin: 0px;
  padding: 0px;  
}

.draggable {
    margin: 10px 30px 10px 10px;
    padding: 5px 5px 5px 10px;
    border-radius: 4px;
    border: 1px solid #dddddd;
    text-align: left;
}
 
.dragged {
    opacity: 0.7;
}
 
.placeholder {
  opacity: 0.5;
}

span{
font-size: 9pt;
}

span.plist{
width: 500px;

}

span.plist_act{

padding-left: 20px;
}
